@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
*{
  margin: 0;
  padding: 0;
}
.container{

  max-width: 80vw;
   margin-left: auto;   /* to make div centre */
  margin-right: auto;    /**/
 
}
.nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
.navbar{
  display: flex;
  
}
.logo{
  font-weight: bold;
  color: brown;
}
.navbar li{
  list-style: none;
 margin: 0px 12px;
}
 .btn{
  background-color: brown;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 10%;
  border: 1px solid black;
}
.btn:hover{
  background-color: rgb(114, 3, 3);
}
.section1{
  height: 500px;
}
.left-right{
  display: flex;
  height: 500px;

}
.left{
 
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left p{
 text-align: center;
  margin-top: 12px;
}
.right{
 background-color: blueviolet;
  width: 50%;
  height: 100%;
}
.pic img{
  height: 500px;
 align-self: center;
 width: 100%;
 
}
.dumbell img{
  width: 250px;
}
.left h3{
  padding: 15px;
}

.but button{
  background-color: brown;
  color: white;
  border: 1px solid black;
}

.all{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
.section3{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 320px;
}
.section3 h1 {
  padding: 18px;
  font-size: 30px;
  color: rgb(70, 70, 70);
  text-decoration-thickness: 4px;
}
.section3 table {
  width: 60%;
  height: 200px;
}
.section3 table th {
  border-bottom: 2px solid black;
}
.section3 table td{
  border-bottom: 1px solid black;
  text-align: center;
}
.txt{
  width: 50%;
   align-items: center;
   flex-direction: column;
}
.txt h1{
  text-align: center;
  padding: 15px;
  letter-spacing: 2px;
  font-size: 30px;
}


.txt p{
   text-align: center;
  word-spacing: 4px;
  line-height: -4px;
  color: rgb(89, 88, 88);
  padding-bottom: 35px;
}
.box ul li{
  list-style: none;
  font-size: 12px;
}

.main-box{
   display: flex;
   height: auto;
   
}
.box{
   border: 1px solid rgb(207, 207, 207);
   height: 180px;
   margin: 0px 25px;
   text-align: center;
   width: 170px;
}
.box hr{
  border: 1px solid rgb(207, 207, 207);
}
.box h3{
  background-color: rgb(245, 245, 245);
  padding: 5px;
}
.box ul h3{
  background-color: white;
  
}
.box ul{
  padding: 5px;
}
.btn2{
  background-color: white;
  color: maroon;
  border: 1px solid maroon;
  border-color: maroon;
  border-radius: 2px;
  padding: 5px 28px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.btn2:hover{
  background-color: maroon;
  color: white;
}
footer{
  text-align: center;
  padding: 30px;
}
hr{
  border-width: 1px;
  border-color: rgb(227, 225, 225);
}